html {
    overflow-y: scroll;
}
body {
    background-color: #f5f5f5;
}

#page-wrapper {
    width: 100%;
}
#header-wrapper {
    padding: 0;
}
#content-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f5f5f5;
}

/**
 * Header
 */
#header-wrapper .row.header {
    height: 60px;
    background: #fff;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

}

/********/
#header-wrapper,
#content-wrapper {
    height: 100%;
}
#sidebar-wrapper {
    margin-left: -150px;
    left: -30px;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
}
#header-wrapper,
#content-wrapper,
#sidebar-wrapper {
    transition: all .4s ease 0s;
}
#header-wrapper {
    height: 110px !important;
}

@media(min-width:768px) {
    #header-wrapper,
    #content-wrapper {
        position: inherit;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    #header-wrapper .row.header {
        margin: 0 -30px;
    }
}
@media(max-width: 768px) {
    #header-wrapper {
        margin-bottom: 15px;
    }
}
#header-wrapper .row.header > div:last-child {
    margin-right: 0;
}
#header-wrapper .row.header .meta .page {
    font-size: 30px;
    padding-top: 11px;
}
#header-wrapper .row.header .meta .breadcrumb-links {
    font-size: 10px;
}
#header-wrapper .row.header .meta div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#header-wrapper .row.header .login a {
    padding: 18px;
    display: block;
}
#header-wrapper .row.header .user {
    min-width: 130px;
}
#header-wrapper .row.header .user > .item {
    width: 65px;
    height: 60px;
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
#header-wrapper .row.header .user > .item a {
    text-decoration: none;
    color: #919191;
    display: block;
}
#header-wrapper .row.header .user > .item i {
    font-size: 20px;
    line-height: 30px;
}
#header-wrapper .row.header .user > .item i.dropdown-icon {
    font-size: 20px;
    line-height: 55px;
}
#header-wrapper .row.header .user > .item img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 2px;
}
#header-wrapper .row.header .user > .item ul.dropdown-menu {
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}
#header-wrapper .row.header .user > .item ul.dropdown-menu .dropdown-header {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
#header-wrapper .row.header .user > .item ul.dropdown-menu li.link {
    text-align: left;
}
#header-wrapper .row.header .user > .item ul.dropdown-menu li.link a {
    padding-left: 7px;
    padding-right: 7px;
}
#header-wrapper .row.header .user > .item ul.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 23px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: '';
}
#header-wrapper .row.header .user > .item ul.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 24px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.loading {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/**
 * Sidebar
 */
#sidebar-wrapper {
    background: #30426a;
}
ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .active {
    /* Sidebar header and footer color */
    background: #2d3e63;
}
ul.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
ul.sidebar li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
}
ul.sidebar .sidebar-main {
    height: 65px;
}
ul.sidebar .sidebar-main a {
    font-size: 18px;
    line-height: 60px;
}
ul.sidebar .sidebar-main a:hover {
    cursor: pointer;
}
ul.sidebar .sidebar-main .menu-icon {
    float: right;
    font-size: 18px;
    padding-right: 28px;
    line-height: 60px;
}
ul.sidebar .sidebar-title {
    color: #738bc0;
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s;
}
ul.sidebar .sidebar-list {
    height: 40px;
}
ul.sidebar .sidebar-list a {
    text-indent: 25px;
    font-size: 15px;
    color: #b2bfdc;
    line-height: 40px;
}
ul.sidebar .sidebar-list a:hover,
ul.sidebar .active a {
    color: #fff;
    border-left: 3px solid #e99d1a;
    text-indent: 22px;
}
ul.sidebar .sidebar-list a:hover .menu-icon,
ul.sidebar .active a .menu-icon {
    text-indent: 25px;
}
ul.sidebar .sidebar-list .menu-icon {
    float: right;
    padding-right: 29px;
    line-height: 40px;
    width: 70px;
}
#page-wrapper:not(.open) #sidebar-wrapper ul.sidebar {
    bottom: 0;
}
#page-wrapper:not(.open) #sidebar-wrapper ul.sidebar .sidebar-title {
    display: none;
    height: 0px;
    text-indent: -100px;
}
#page-wrapper:not(.open) #sidebar-wrapper ul.sidebar .sidebar-title.separator {
    display: block;
    height: 2px;
    margin: 13px 0;
}
#page-wrapper:not(.open) #sidebar-wrapper ul.sidebar .sidebar-list a:hover span,
#page-wrapper:not(.open) #sidebar-wrapper ul.sidebar .active a span {
    border-left: 3px solid #e99d1a;
    text-indent: 22px;
}
#page-wrapper:not(.open) #sidebar-wrapper .sidebar-footer {
    display: none;
}
.sidebar-footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all .6s ease 0s;
    text-align: center;
}
.sidebar-footer div a {
    color: #b2bfdc;
    font-size: 12px;
    line-height: 43px;
}
.sidebar-footer div a:hover {
    color: #ffffff;
    text-decoration: none;
}
@media only screen and (min-width: 561px) {
    #page-wrapper.open #header-wrapper,
    #page-wrapper.open #content-wrapper {
        margin-left: 250px;
    }
}
@media only screen and (max-width: 560px) {
    #page-wrapper.open #header-wrapper,
    #page-wrapper.open #content-wrapper {
        margin-left: 70px;
    }
}
#page-wrapper.open #sidebar-wrapper {
    left: 150px;
}

/**
 * Hamburg Menu
 * When the class of 'hamburg' is applied to the body tag of the document,
 * the sidebar changes it's style to attempt to mimic a menu on a phone app,
 * where the content is overlaying the content, rather than push it.
 */
@media only screen and (max-width: 560px) {
    body.hamburg #page-wrapper {
        padding-left: 0;
    }
    body.hamburg #page-wrapper:not(.open) #sidebar-wrapper {
        position: absolute;
        left: -100px;
    }
    body.hamburg #page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
        display: none;
    }
    body.hamburg #page-wrapper.open #sidebar-wrapper {
        position: fixed;
    }
    body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
        margin-left: 0px;
    }
    body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
    body.hamburg .row.header .meta {
        margin-left: 70px;
    }
    body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
    body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
        transition: margin-left 0.4s ease 0s;
    }
}
